{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<div id="goto-top-link">
    {{! go to top is sticky to footer so needs to be sibling }}
    <a class="btn btn-light" role="button" href="#">
        {{#pix}} i/up, core, {{#str}} totop, theme_boost {{/str}}{{/pix}}
    </a>
</div>
<footer id="page-footer" role="contentinfo">
    <div class="start-footer">
        <div class="footer-inner row no-gutters pt-4 pb-3">
            <div class="col-12 col-sm-3 col-md-2">
                <ul class="footer-link unlist mx-4">
                    {{# output.about_page }}
                        <li>
                            <a href="{{{ output.about_page }}}">{{#str}} about, theme_formi_dsfr {{/str}}</a>
                        </li>
                    {{/ output.about_page }}
                    {{# output.contact_page }}
                        <li>
                            <a href="{{{ output.contact_page }}}">{{#str}} contact, theme_formi_dsfr {{/str}}</a>
                        </li>
                    {{/ output.contact_page }}
                    {{# output.faq_page }}
                        <li>
                            <a href="{{{ output.faq_page }}}">{{#str}} faq, theme_formi_dsfr {{/str}}</a>
                        </li>
                    {{/ output.faq_page }}
                    <li class="tool_usertours-resettourcontainer"></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 col-md-2">
                <div class="footer-link mx-4">
                    {{{ output.standard_footer_html }}}
                </div>
            </div>
        </div>
    </div>
    <div id="first-part-footer">
        <div class="footer-inner row no-gutters pt-4 pb-3">
            <div id="footer-logo" class="d-flex flex-column flex-lg-row align-items-lg-center col-12 col-md-6 px-4 mb-4 mb-md-0">
                <a href="https://www.transformation.gouv.fr" target="_blank" rel="opener" title="{{#str}} footerlogotitle, theme_formi_dsfr {{/str}}">{{#pix}}
                    logo-footer, theme_formi_dsfr, {{#str}} footerlogotitle, theme_formi_dsfr {{/str}}{{/pix}}</a>
            </div>
            <div class="linkcontainer col-12 col-md-6 px-4 d-flex align-items-center justify-content-center flex-column">
                {{# output.textinfofooter_page }}
                    <p id="text-info">{{{ output.textinfofooter_page }}}</p>
                {{/ output.textinfofooter_page }}
                <div>
                    <ul class="footer-link horizontal unlist">
                        {{# output.externallink_page }}
                            <li>
                                <a href="https://www.{{ . }}" target="_blank" rel="noreferrer noopener">{{ . }}<i class="fa fa-external-link ml-1"></i></a>
                            </li>
                        {{/ output.externallink_page }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="last-part-footer">
        <div class="footer-inner d-flex flex-column w-100 pb-3">
            <hr id="break-line-footer"/ class="mx-4">
            <div class="pipe-list ml-4">
                <ul>
                    {{# output.sitemap_page }}
                        <li>
                            <a href="{{{ output.sitemap_page }}}">
                                {{#str}} sitemap, theme_formi_dsfr {{/str}}
                            </a>
                        </li>
                    {{/ output.sitemap_page }}
                    {{# output.accessibility_page }}
                        <li>
                            <a href="{{{ output.accessibility_page }}}">
                                {{#str}} accessibility, theme_formi_dsfr {{/str}}
                            </a>
                        </li>
                    {{/ output.accessibility_page }}
                    {{# output.legalnotice_page }}
                        <li>
                            <a href="{{{ output.legalnotice_page }}}">
                                {{#str}} legalnotice, theme_formi_dsfr {{/str}}
                            </a>
                        </li>
                    {{/ output.legalnotice_page }}
                    {{# output.personaldata_page }}
                        <li>
                            <a href="{{{ output.personaldata_page }}}">
                                {{#str}} personaldata, theme_formi_dsfr {{/str}}
                            </a>
                        </li>
                    {{/ output.personaldata_page }}
                    {{# output.versionnumber_page }}
                        <li>
                            {{#str}} version, theme_formi_dsfr, {{{ output.versionnumber_page }}}{{/str}}
                        </li>
                    {{/ output.versionnumber_page }}
                </ul>
            </div>
            <ul class="list-unstyled mb-0"><li id="licence-text" class="pl-4">{{{ output.formi_dsfrlicence_page }}}</li></ul>
            </div>
        </div>
    </div>

    {{{ output.standard_end_of_body_html }}}
</footer>
