{{!
    @template theme_boost/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none" aria-hidden="false" tabindex="-1">
    {{> theme_boost/flat_navigation }}
</div>
