%form-control {
    display: block;
    border-radius: 0.25rem 0.25rem 0 0;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--text-label-grey);
    background-color: var(--background-contrast-grey);
    box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
    outline-offset: 2px !important;
    outline-width: 2px !important;
    outline-color: #0a76f6 !important;
    border: 0;
    transition: none;
    height: auto;
    &:focus {
        outline-style: solid !important;
        color: inherit;
        background-color: var(--background-contrast-grey);
        box-shadow: inset 0 -2px 0 0 var(--border-plain-grey) !important;
        z-index: 3;
    }
}

.custom-select {
    @extend %form-control;
    display: inline-block;
    padding: .5rem 1.75rem .5rem .75rem;
    & + label + .custom-select {
        margin-left: 0.25rem;
    }
}
.form-control[type="text"],
.form-control[type="password"] {
    @extend %form-control;
}

