#page {
    margin-top: 0;
    max-width: var(--max-page-width);
    #region-main-box {
        padding: 0.5rem;
    }
    @media (min-width: 768px) {
        #region-main-box {
            padding: 3rem 1rem 0 2rem;
        }
    }
    #region-main {
        border-radius: 0 !important;
        box-shadow: none;
        background-color: #fff;
        border: none;
        border: 0;

        &.has-blocks {
            width: calc(100% - 320px);
        }
        @media(max-width: 640px) {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    }
    [data-region="blocks-column"] {
        width: 100%;
        margin-top: 2rem;
    }
}

@media (max-width: 1200px) {
    #page {
        #region-main {
            &.has-blocks {
                width: 100%;
            }
        }
        [data-region="blocks-column"] {
            width: 100%;
        }
    }
}

&#page-my-index {
    background-color: #fff;
}

&.path-mod {
    #region-main {
        padding: 0;
    }
}
